<app-notification-component></app-notification-component>
<app-notification-component-a></app-notification-component-a>
<app-notifier-component></app-notifier-component>
<app-notifier-component-a></app-notifier-component-a>
<app-notifier-component-b></app-notifier-component-b>




<div style="width: 200px; height: 100;  border: solid; border-color: rgb(226, 202, 248);">
  data will emit soon.............
  <div *ngFor="let data of myData">{{data}}</div>
  <div *ngFor="let data of myDataA">{{data}}</div>
</div>



<div >
  <button (click)="EmitData()">Emit</button>
  <button (click)="GetData()">Get</button>
  <button (click)="GetDataA()">Get</button>
</div>


<router-outlet />




